.tutor-dashboard-content.tutor-quiz-attempt-history {
    table {
        th, td {
            padding: 5px;
        }
    }
    .tutor-quiz-attempt-review-wrap {
        span {
            padding: 3px !important;
            font-size: 12px !important;
        }
    }
}