.single-evaluation-wrapper h2 {
  font-size: 24px;
}

.single-evaluation-wrapper p {
  font-size: 15px;
}

table.wp-list-table.students tbody input[type=number] {
  width: 100px;
  text-align: center;
}
